.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__slider {
  background-color: rgba(33, 33, 33, 1);
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.3s;
}

.toggle-switch__text {
  position: absolute;
  line-height: 14px;
  top: 7px;
}

.toggle-switch__text_F {
  color: rgba(255, 255, 255, 1);
  left: 7px;
}

.toggle-switch__text_C {
  color: rgba(0, 0, 0, 0.5);
  right: 7px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__slider {
  left: 28px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: rgba(255, 255, 255, 1);
}
