.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  position: relative;
}

.toggle-switch:hover {
  border-color: rgba(0, 0, 0, 1);
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__slider {
  background-color: rgba(0, 0, 0, 1);
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: transform 0.25s ease;
  box-shadow: 0 0 0 2px;
}

.toggle-switch__text {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  line-height: 14px;
  top: 7px;
}

.toggle-switch__text_F {
  left: 7px;
}

.toggle-switch__text_C {
  right: 7px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__slider {
  transform: translateX(28px);
}

.toggle-switch:hover .toggle-switch__slider {
  transform: translateX(2px);
}

.toggle-switch:hover .toggle-switch__checkbox:checked ~ .toggle-switch__slider {
  transform: translateX(26px);
}

.toggle-switch__text_color_white {
  color: rgba(255, 255, 255, 1);
}
