.modal__content_type_img {
  padding: 0 0 32px;
  border-radius: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__close_type_img {
  top: 24px;
  right: 24px;
  gap: 20px;
  background-image: url(../../assets/photo_close-btn.png);
}

.modal__img {
  object-fit: cover;
  max-width: 496px;
  max-height: 496px;
}

.modal__title-container {
  margin: 0 34px 12px 32px;
  display: flex;
  justify-content: space-between;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
}

.modal__delete-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgba(255, 77, 0, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  cursor: pointer;
}

.modal__weather {
  margin: 0 0 0 32px;
}

@media screen and (max-width: 722px) {
  .modal__content_type_img {
    max-width: 343px;
    gap: 20px;
    padding-bottom: 40px;
    bottom: auto;
    border-radius: 12px;
  }

  .modal__close_type_img {
    top: 12px;
    right: 12.8px;
    background-image: url(../../assets/mobile_close-btn.png);
  }

  .modal__caption {
    margin-left: 20px;
  }

  .modal__weather {
    margin-left: 20px;
  }
}
